#app
  width 60%
  padding 20px
  margin 0 auto

  .Login
   .login-form
    margin 10px 0

  .Header
    .welcome
     margin 10px 0 10px
    .ant-btn
      margin-left 20px

  .List_ul
    li
      padding 5px 0
      line-height 30px
      .ant-btn
        display none
        width 50px
        float right
  .Footer
    display flex
    justify-content space-between
    font-size 14px
